/* PAGE CENTERING */
.profile-container {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

/* CARD */
.profile-card {
  background: #ffffff;
  width: 360px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* PROFILE IMAGE */
.profile-img {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #4f46e5;
}

/* HOVER TEXT */
.upload-text {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.profile-img:hover .upload-text {
  opacity: 1;
}

/* TEXT */
.profile-card h2 {
  margin: 10px 0 5px;
  color: #222;
}

.profile-card p {
  margin: 6px 0;
  color: #555;
  font-size: 14px;
}

/* EDIT BUTTON */
.edit-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: #7b77c4;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #4338ca;
}

/* FORM */
form {
  margin-top: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 70px;
}

/* SAVE & CANCEL BUTTONS */
form button {
  padding: 8px 14px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

form button[type="submit"] {
  background: #16a34a;
  color: white;
}

form button[type="submit"]:hover {
  background: #15803d;
}

form button[type="button"] {
  background: #e5e7eb;
  color: #333;
}

form button[type="button"]:hover {
  background: #d1d5db;
}

/* MESSAGE */
.msg {
  margin-top: 10px;
  font-size: 14px;
  color: #16a34a;
}
